<nav class="nav" [class.nav--dark]="navTheme === 'dark'">
  <div class="nav__links nav__links--left">
    <a routerLink="/about" class="nav__link">Nosotros</a>
    <a href="#" class="nav__link">Productos</a>
    <a routerLink="/services" class="nav__link">Servicios</a>
  </div>

  <a routerLink="/" class="nav__logo">
    <img
      [src]="navTheme === 'dark' ? 'logocolor.svg' : 'logo.svg'"
      alt="Mirabolante"
      class="nav__logo-img"
    />
  </a>

  <div class="nav__links nav__links--right">
    <a routerLink="/process" class="nav__link">Proceso</a>
    <a href="#" class="nav__link">Mercados</a>
    <a routerLink="/contact" class="nav__link">Contacto</a>
  </div>
</nav>
